* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html, body {
    height: 100%;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(-45deg, #0a192f, #020c1b, #112240, #0a192f);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    color: #ccd6f6;
}

h1, h2, h3 {
    font-weight: bold;
    color: #64ffda;
}
a {
    color: #64ffda;
    text-decoration: none;
    transition: 0.3s;
}
a:hover {
    color: #52e6c3;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #64ffda;
    color: #64ffda;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    background: #64ffda;
    color: #0a192f;
}
@keyframes gradientAnimation {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
section{
    padding: 80PX;
}